<div class="messages">
  <div class="message-input">
    <input v-model="newMessage" type="text" placeholder="Quoi de neuf ?" autofocus="" class="message-input__content" @keyup.enter="postNewMessages">
  </div>

  <div class="message-list">
    <ul class="message-list__ul">
      <li v-for="message in messages" class="message-list__li">
        <div class="message-item">
          <span class="message-item__author">{{message.author}}</span>
          <span class="message-item__content">{{message.content}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
