<div class="messages">
  <div class="message-input">
    <input type="text" placeholder="Quoi de neuf ?" autofocus="" class="message-input__content">
  </div>
  <div class="message-list">
    <ul class="message-list__ul">
      <li class="message-list__li">
        <div class="message-item">
          <span class="message-item__author">dede</span>
          <span class="message-item__content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        </div>
      </li>
      <li class="message-list__li">
        <div class="message-item">
          <span class="message-item__author">dede</span>
          <span class="message-item__content">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        </div>
      </li>
      <li class="message-list__li">
        <div class="message-item">
          <span class="message-item__author">dede</span>
          <span class="message-item__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
        </div>
      </li>
    </ul>
  </div>
</div>
